footer.footer 
    .map-container
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59549.78728322954!2d105.64060644849509!3d21.118079021561346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134f8a97d45abe5%3A0xfa0e3ace5d0110a6!2zxJBhbiBQaMaw4bujbmcsIEhhbm9pLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1711797695151!5m2!1sen!2s" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
    .copyright
        p #{settingGeneral.copyright}
    
